html,body{
	font-family: arial,sans-sirif;
	margin: 0px;
	background: lightgrey; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , green); /* Standard syntax (must be last) */
}

#header{
	color: white;
	text-align: center;
	text-shadow: 5px 6px 3px lightgrey;
	font-size: 23px;
}

#header img{
	width:100%;
	box-sizing: border-box;
	box-shadow: 7px 7px 3px;

}

#header h1{
	margin-top: -6px;
}

#header p{
	margin-top: -35px;
}

#content{
	margin:90px 15px 80px 15px;
}

#content h2 {
	width: 100%;
}
#content p img{
	width: 100%;
	border-radius: 10px;
}

}
#links{
	margin: 15px;
}
#links h2{
	margin-left: : 15px;
}

#links ul{
	background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, green , red); /* Standard syntax (must be last) */
	list-style-image: url("img/chrome.gif");
	text-align: center;
	color:white;
	margin: 15px;
}

#links ul li{
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
}

#links ul li:hover{
	background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, blue , lightgrey); /* Standard syntax (must be last) */
	color:#4CAF50;
	text-shadow: 2px 2px 4px;
}





#contact {
	background-color: #4CAF50;
	margin: 15px;
	border-radius: 15px;
}

#footer{
	text-align: center;
	background-color:  #afc0af;
	color:white;
	padding: 16px 5px 15px 5px;
	border: 2px solid lightgrey;
	border-radius: 29px;
} 
