html,body{
	font-family: arial,sans-sirif;
	margin: 0px;
	background: black; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , green); /* Standard syntax (must be last) */
}

#header{
	color: white;
	text-align: center;
	text-shadow: 5px 6px 3px lightgrey;
	font-size: 23px;
}

#header img{
	width:100%;
	height: 300px;
	box-sizing: border-box;
	box-shadow: 7px 7px 3px;

}

#header h1{
	margin-top: -6px;
}

#header p{
	margin-top: -35px;
}

#content{
	margin:90px 15px 80px 15px;
	color: white;
}

#content h2 {
	width: 100%;
}
#content p img{
	width: 100%;
	border-radius: 10px;
}

#pic img{
	margin: 30px;
	border: 5px solid lightgrey;
	border-radius: 10px;
	width: 75%;
	height: 300px;
}

}
#links{
	margin: 15px;
}
#links h2{
	margin-left: : 15px;
	color: white;
}

#links ul{
	background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, green , red); /* Standard syntax (must be last) */
	text-align: center;
	color:white;
	margin: 15px;
}

#links ul li{
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
}

#links ul li{
	background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, lightgrey , blue); /* Standard syntax (must be last) */
	color:#4CAF50;
	text-shadow: 2px 2px 4px;
	border: 5px groove lightgrey;
}

#links ul li a:link{
	text-decoration: none;
	font-size: 18px;
	color:white;
}

#links ul li a:hover{
	/*background-color: green;
	color: white;
	display: inline-block;
	padding: 10px 10px;
	border-radius: 15px;
	box-shadow: 4px 4px;*/

	color: #FFFFFF;
    background-color: #73AD21;
    background-color: #4CAF50;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px 10px;
	border-radius: 15px;
}

#links ul li a:active{
	color:#ff4dc4;
	 padding: 10px 10px;
	border-radius: 15px;
}

.full{
	margin: 15px;
	color: white;
}

.full h4 a{
	display: inline-block;
	border: 5px groove white;
	padding: 5px;
	text-decoration: none;
	background-color:  #4CAF50;
	color: white;
	border-radius: 10px;
}

.full h4 a:hover{
	color: #4CAF50;
	background-color: white;
}



#contact {
	background-color: #4CAF50;
	margin: 15px;
	border-radius: 15px;
}

#frame{
	display: inline;
	color: white;
}

#footer{
	margin: 0px;
	text-align: center;
	background-color:  #afc0af;
	color:white;
	padding: 16px 5px 15px 5px;
	border: 2px solid lightgrey;
	border-radius: 2px;
} 
